WebApplication1/Connected Services/BenimServisim/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DAL" />
  <xs:element name="KullanicilariGetir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KullanicilariGetirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="KullanicilariGetirResult" nillable="true" type="q1:ArrayOfKullanicilar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>